.body {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.main {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__image {
  width: 100vw;
}

.section1 {
  background-color: var(--tan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 10%;
  padding-bottom: 10%;
}

.section1__img {
  border-radius: 105em;
  width: 80vw;
  z-index: 1;
  height: fit-content;
}

.section1__img__blue {
  border-radius: 105em;
  width: 90vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1__button__blue {
  background-color: var(--primary-color);
  color: var(--white);
}

.section1__button__blue:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.section1__img__red {
  border-radius: 105em;
  background-color: var(--red);
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.section1__button {
  align-self: center;
  padding-top: 0.25em;
  padding-right: 1em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  font-family: var(--main-font);
  font-size: 1.75em;
  border: 0;
  width: fit-content;
  height: max-content;
  z-index: 2;
  margin-top: -6%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

.section1__button__red {
  background-color: var(--red);
  color: var(--white);
}

.section1__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1__button__red:hover {
  background-color: var(--white);
  color: var(--red);
}

.videosection {
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.videosection__video {
  margin: 10%;
  width: 80vw;
  height: auto;
}

.aboutgroupsection {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.aboutgroupsection__img {
  background-color: var(--text-color);
  padding: 8%;
  margin-top: 10%;
  width: 60vw;
  height: auto;
}

.aboutgroupsection__title {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 2em;
  padding-left: 13%;
  padding-top: 10%;
  padding-bottom: 0%;
  margin: 0;
  align-self: flex-start;
}

.aboutgroupsection__paragraph {
  color: var(--text-color);
  font-family: var(--second-font);
  font-size: 1em;
  padding-right: 13%;
  padding-left: 13%;
  margin: 0;
  margin-bottom: 10%;
}

.favcharsection {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 10%;
  padding-bottom: 10%;
}

.favcharsection__gif {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favcharsection__button {
  font-family: var(--main-font);
  background-color: var(--pink);
  color: var(--white);
  padding-top: 0.25em;
  padding-right: 1em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  font-size: 1.5em;
  border: 0;
  width: min-content;
  height: max-content;
  z-index: 2;
  margin-top: -6%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

.favcharsection__button:hover {
  background-color: var(--white);
  color: var(--pink);
}

.favcharsection__link {
  text-decoration: none;
  z-index: 2;
  color: var(--white);
}

.characters {
  height: min-content;
  background-color: var(--tan);
  width: 100vw;
}

.characters__img {
  width: 100vw;
  height: auto;
}

.footer {
  background-color: var(--tan);
  width: 100vw;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: var(--white);
  font-size: 0.25em;
  font-family: var(--second-font);
}

@media screen and (min-width: 768px) {
  .section1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .section1__img {
    width: 40vw;
  }

  .section1__img__blue {
    width: 44vw;
  }

  .section1__img__red {
    width: 44vw;
  }

  .favcharsection__button {
    font-size: 2em;
    width: max-content;
    margin-top: -2%;
  }
}

@media screen and (min-width: 1280px) {
  .section1 {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }

  .section1__img {
    width: 95vw;
    height: auto;
    border-radius: 0;
  }

  .section1__img__blue {
    width: 100vw;
    padding-top: 4%;
    padding-bottom: 5%;
    border-radius: 0;
  }

  .section1__img__red {
    width: 100vw;
    padding-top: 4%;
    padding-bottom: 17%;
    border-radius: 0;
    margin-top: 8.5%;
  }

  .section1__link {
    margin-top: -12%;
  }

  .section1__button__blue {
    margin-left: 40vw;
  }

  .section1__button__red {
    margin-right: 40vw;
    margin-top: -16%;
  }

  .section1__button {
    font-size: 3em;
  }

  .videosection {
    margin-top: 10%;
  }

  .aboutgroupsection {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .aboutgroupsection__img {
    width: 40vw;
    padding: 4%;
    margin-left: 10%;
  }

  .aboutgroupsection__text {
    align-self: flex-end;
    justify-self: space-around;
    padding-bottom: 10%;
    margin-right: 10%;
  }

  .favcharsection {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .favcharsection__gif {
    width: 30vw;
    margin-right: 3%;
  }

  .favcharsection__button {
    margin-left: 3%;
    font-size: 3em;
  }
}
